/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    font-weight: 200;
    font-size: .8em;
    color: lightgrey;
}

a {
    text-decoration: none;
}

#pic-search {
    display: block;
    width: 60%;
    height: 6vh;
    border: 2px solid rgba(211, 211, 211, .7);
    border-radius: 5px;
    margin: 0 auto;
    text-indent: 5px;
}

/* ============================================= */
/*              Layout styles                    */
/* ============================================= */


.wrapper {
    display: block;
    margin: 30px auto;
    height: 90vh;
}

.inner-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.inner-wrapper:last-child {
    margin-bottom: 50px;
}

.pictures {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* ============================================= */
/*                  Flexbox                      */
/* ============================================= */

.inner-wrapper {
    display: flex;
    flex-direction: column;
}

/* ============================================= */
/*                  Media Queries                */
/* ============================================= */

@media (min-width:768px) {
    
    .inner-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .inner-wrapper:last-child {
        margin-bottom: auto;
    }

    .item {	
        flex-basis: calc(100% / 4);
        padding: 1.9em;
        width: 250px;
        height: 40vh;
    }

    .pictures {
        margin-top: 0;
        height: 100%;
    }

    #pic-search {
        width: 40%;
    }
    
}